/* General Styles */

.ask-ai-container {
  padding: 30px 200px;
  background: #f4f8f6;
  min-height: 100%;
}

/* Header Section */
.ask-ai-header {
  text-align: center;
  margin-bottom: 20px;
}

.ask-ai-header-content h2 {
  font-size: 35px;
  color: #2c3e50; 
  margin-bottom: 8px;
  font-weight: 600;
}

.ask-ai-header-content p {
  font-size: 14px;
  color: #555;
  line-height: 1.5;
  max-width: 600px;
  margin: auto;
}

/* Chat Container */
.chat-container {
  max-width: 700px;
  width: 100%;
  margin: auto;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 74vh;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

/* Chat Header */
.chat-header {
  display: flex;
  align-items: center;
  padding: 16px 20px;
  background-color: #f9fafb;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #eaeaea;
  transition: box-shadow 0.3s ease;
}

.chat-header:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.bot-profile img,
.bot-avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

/* Chat Messages Area */
.chat-box {
  flex: 1;
  padding: 16px;
  overflow-y: auto;
  background-color: #f9fafb;
  display: flex;
  flex-direction: column;
  gap: 12px;
  scroll-behavior: smooth;
}

.message {
  display: flex;
  align-items: start;
  gap: 10px;
}

.bot-avatar {
  width: 30px;
  height: 30px;
}

.message-content {
  max-width: 70%;
  padding: 12px 16px;
  border-radius: 18px;
  line-height: 1.5;
  font-size: 14px;
  word-wrap: break-word;
  background-color: #ffffff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.ai .message-content {
  background-color: #eaeaea;
  color: #333;
  border-top-left-radius: 6px;
  align-self: flex-start;
}

.user {
  justify-content: flex-end;
}

.user .message-content {
  background-color: #03A63C;
  color: white;
  border-bottom-right-radius: 6px;
  align-self: flex-end;
}

/* Chat Input */
.user-profile {
  display: flex;
  align-items: center;
}

.user-profile img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.chat-input {
  display: flex;
  padding: 16px;
  background-color: #fff;
  border-top: 1px solid #ddd;
  align-items: center;
}

.chat-input input {
  flex: 1;
  padding: 12px 16px;
  border: 1px solid #ccc;
  border-radius: 25px;
  font-size: 14px;
  outline: none;
  transition: all 0.3s ease;
  margin-left: 10px;
}

.chat-input input:focus {
  border-color: #4fd12b;
  box-shadow: 0 0 0 3px rgba(79, 209, 43, 0.2);
}

.chat-input button {
  background-color: #027333;
  color: white;
  border: none;
  padding: 9px 27px;
  margin-left: 10px;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.chat-input button:hover {
  background-color: #025939;
}